# =========================
# MODEL & TRAINING OUTPUT
# =========================
outputs/
checkpoints/
*.bin
*.pt

# =========================
# LOG & RESULT FILES
# =========================
*.log
*.out



# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# SYSTEM
# =========================
.DS_Store# model & checkpoint
outputs/*/checkpoint-*
outputs/*/runs/

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# system
.DS_Store

